@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Prompt&display=swap');

:root {
    --cor--primaria: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    --cor--secundaria: #000000;
    --cor--terciaria: #ffffff;
    --cor--quaternaria: yellow;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: var(--cor--primaria);
}

.cabecalho {
    text-align: center;
    padding: 10px;
    background-color: var(--cor--secundaria);
    font-family: 'Pacifico', cursive;
    color: var(--cor--terciaria);
}

.cabecalho__menu {
    display: flex;
    padding: 2% 0% 0% 10%;
    gap: 5.5%;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
    color: var(--cor--terciaria);
}

.cabecalho__menu__link:hover {
    color: var(--cor--quaternaria);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0% 5% 0%;
    gap: 100px;
}

.principal__dispocisao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10%;
}

.principal__fotos {
    width: 20rem;
    height: 30rem;
    border-radius: 5%;
}

.principal__fotos :hover {
    width: 21rem;
    height: 31rem;
}


.principal__descricao {
    font-family: 'Prompt', sans-serif;
}

.rodape {
    padding: 100px;
    background-color: var(--cor--secundaria);
    color: var(--cor--terciaria);
    font-family: 'Prompt', sans-serif;
}

.rodape__pagamento {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: justify;
}

.rodape__pagamento__dispocisao {
    display: flex;
    gap: 15px;
}

.rodape__pagamento__fotos {
    width: 3rem;
    height: 3rem;
}

/* página de login */

.principal__cadastro {
    padding: 5% 0% 10% 0%;
}

.principal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Prompt', sans-serif;
    font-size: larger;

}

.principal__cadastro__input {
    width: 15rem;
    height: 1.5rem;
}

.principal__cadastro__botao {
    width: 15rem;
    height: 2rem;
    font-family: 'Prompt', sans-serif;
    font-size: medium;
}