@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Prompt&display=swap');

:root {
    --cor--primaria: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    --cor--secundaria: #000000;
    --cor--terciaria: #ffffff;
    --cor--quaternaria: yellow;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: var(--cor--primaria);
}

.cabecalho {
    text-align: center;
    padding: 10px;
    background-color: var(--cor--secundaria);
    font-family: 'Pacifico', cursive;
    color: var(--cor--terciaria);
}

.cabecalho__menu {
    display: flex;
    padding: 2% 0% 0% 10%;
    gap: 5.5%;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
    color: var(--cor--terciaria);
}

.cabecalho__menu__link:hover {
    color: var(--cor--quaternaria);
}

.principal {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 5% 5% 5%;
}

.principal__fotos {
    width: 350px;
    height: 500px;
    border-radius: 2.5%;
    image-rendering: optimizeQuality;
}

.rodape {
    padding: 100px;
    background-color: var(--cor--secundaria);
    color: var(--cor--terciaria);
}

.rodape__pagamento {
    display: flex;
    justify-content: end;
    align-items: end;
    font-family: 'Prompt', sans-serif;
}

.rodape__pagamento__fotos {
    width: 50px;
    height: 50px;
}